.hero{
    font-family: 'Libre Baskerville';
    width: 70%;
    margin:auto;
    text-align: center;

    .title{
        font-size: 40px;
        width: 600px;
        margin: 30px auto;
    }

    .moto{
        font-family: 'nunito';
        margin-bottom: 50px;
    }

    .line{
        border-bottom: 1px solid #212121;
        height: 0;
        width: 500px;
        margin: auto;
    }
}