.post {
  text-align: center;
  padding: 10px;
  width: 900px;
  margin: auto;

  .heading {
    font-family: "oswald", sans-serif;
    margin-top: 20px;
    font-size: 40px;
    text-align: left;
  }

  .img {
    .img-child {
      width: 900px;
      height: 450px;
      object-fit: cover;
    }
  }

  .desc{
    font-family: 'Nunito';
    text-align: left;
    margin-top: 20px;
  }
}
