.articles {
  width: max-content;
  flex: 3;

  

  .container {
    margin: 50px 0;

    .card {
      height: max-content;
      width: max-content;
      padding: 20px 0;
      margin: 30px auto;

      .heading-link {
        text-decoration: none;
      }

      .card-heading {
        font-family: "oswald";
        font-weight: 700;
        line-height: 1;
        font-size: 41px;
        margin-bottom: 20px;
        color: #212121;
        transition: all ease 0.2s;

        &:hover {
          color: #88b198;
        }
      }

      .card-image {
        object-fit: cover;
        width: 700px;
        height: 350px;
      }

      .desc {
        font-family: "Nunito";
        width: 800px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .keep-reading {
        background-color: #88b198;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        font-family: "oswald";
        font-size: 15px;
        margin: 10px 0;
        transition: all ease 0.2s;

        &:hover {
          color: black;
        }
      }
    }
  }
}
