.app{

    .title-article {
        font-family: "Amatic SC";
        font-weight: 600;
        text-align: center;
        margin: 20px 0 50px 0;
        font-size: 70px;
      }

    .frame{
        display: flex;
        justify-content: space-around;
    }
}